<div style="margin-bottom: 30px;" id="experience" class="section col s12">
  <h1 class="center">Expérience</h1>
  <hr>

  <div class="row">
    <div class="col s12">
      <div style="position: static;display: block; margin-left: 50%;" class="xp-card col s2 card-panel blue-grey darken-1 white-text">
        <span class="xp card-title">Pâtissier</span>
        <span class="job-position">Bassignani corbeil essonne (91100)</span>
        <p>Faire de la pâtisserie artisanale</p>
        <p>2017-2018</p>
      </div>
    </div>
  </div>
  <app-wild-life></app-wild-life>

</div>