<span class="cv-experience">Expériences</span>
<div class="cv-xp-date">
  <span class="xp-date">septembre 2017 - mai 2018</span>
</div>
<div class="cv-job">
  <span class="cv-work">Pâtissier Artisanal</span>
  <span class="cv-job-position">Bassignani Corbeil Essonne (91100)</span>
</div>
<div class="cv-site-created">
  <span class="cv-site-created-title">Création d'un site pour une communauté</span>
  <a href="http://wild_life.mtxserv.fr" class="cv-link">Wild Life</a>
  <a href="http://wild_life.mtxserv.fr"><img class="cv-img" src="../../assets/img/wild-life.jpg"></a>
</div>