<div id="diplome" class="section col s12">
  <h1 class="center">Diplomes</h1>
  <hr>

  <div class="row">
    <div class="col s12 m6 l3">
      <h2>Diplomes</h2>
      <div class="card-panel teal darken-2">
        <span class="institution-name">Faculté des métiers d'évry</span>
        <span class="degree">CAP Pâtissier</span>
        <hr class="hr-degree">
        <span class="date">2017</span>
      </div>
    </div>
    <div class="col s12 m6 l3">
      <app-courses></app-courses>
    </div>
  </div>
</div>